.likes__bar {
    /* padding: 16px; */
    display: flex;
}
.compass {
    padding: 16px 8px;
}
.heart {
    padding: 16px 8px 16px 16px;  
}
.tagged{
    position: absolute;
    right: 0;
    padding: 16px;
}

.my_caption {
    padding: 16px 16px;
    text-align: left;
    color: rgba(var(--i1d,38,38,38),1);
}

.comment__field {
    /* border: 2px solid red; */
    border-top: 1px solid rgba(var(--ce3,239,239,239),1);
    display: flex;
    position: relative;
    margin-top: 4px;
    padding: 16px 16px;
}
.input__field {
    width: -webkit-fill-available;
    border: none;
}

.input__field:focus {
    outline:none;
}

.post__btn {
    position: absolute;
    right: 17px;
    color: #0095f6;
    cursor: pointer;
    opacity: .3;
    max-width: 60px;
}
.post__btn__true {
    position: absolute;
    right: 17px;
    color: #0095f6;
    cursor: pointer;
    max-width: 60px;
}
