.rightSection {
    position: fixed;
    height: 100vh;
    width: 300px;
    padding: 20px;
    left: calc(calc(calc(100% - 935px)/2) + 639px);
    right: calc(100% - 935px);
    margin-top: 30px;
    /* border: 2px solid red;     */
}

@media only screen and (max-width: 1000px) {
    .rightSection {
        display: none;
        /* background-color: red; */
    }
}

.headerDiv{
    position: relative;
    width: 100%;
    margin-bottom: 12px;

    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 16px;
    /* border: 2px solid yellow; */
}

.sectionDiv{
    position: relative;
    width: 100%;
    /* border: 2px solid green; */

    display: flex;
    flex-direction: column;    
}

.bottomDiv{
    position: relative;
    width: 100%;
    /* border: 2px solid yellow; */

    color: rgba(var(--edc,199,199,199),1);
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    margin-top: 12px;
}
.bottomDiv p {
    padding-left: 40px;
    margin-top: 12px;
}

.listOfFooters {
    list-style-type: none;
    margin-top: 5px;
}

.listOfFooters li { 
    display: inline-block;
    padding: 2px;
}


.listOfFooters li a{ 
    text-decoration: none;
    color: rgba(var(--edc,199,199,199),1);
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-transform: none;
}

.follow {
    right: 0;
    color: #0095f6;
    font-weight: 600;
    font-size: 12px;
}

.sectionDiv__photoHeader {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px 16px; 
    /* color: rgba(var(--f52,142,142,142),1); */

}
.headerDiv__suggestions {
    display: flex;
    flex-direction: column;
}

.suggestion__for__you {
    float: left;
    color: rgba(var(--f52,142,142,142),1);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 2px;
}
.see__all {
    float: right;
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.suggestion__name {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px;
    margin-bottom: 3px;
    
}

.suggestion__status {
    color: rgba(var(--f52,142,142,142),1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* margin: -2px 0 -3px; */
}

