.timeLine__body {
    border: 2px solid red;
    height: 100px;
    background: rgba(var(--d87,255,255,255),1);
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    border-radius: 3px;
    margin-bottom: 24px;
    margin-top: 0;
    padding: 16px 0;
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    display: flex;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.timeLine__body::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.timeLine__body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.image__text__holder {
    /* height: 80px;  */
    text-align: center;
    width: 100px; 
    padding: 4px;
    position: relative;
    display: block;
    margin: 0px 4px;
    /* border: 2px solid red ; */
    
    /* overflow: hidden; */

    /* border-radius: 50%;
    border: 2px solid #DD326F; */
}
.timeLine__img {
    border-radius: 50%;
    border: 2px solid #DD326F;
    width: 64px;
    height: 64px;
    object-fit: fill;
}
.font{
    font-size: 10px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}


